body {
  background: no-repeat;
  background: url(https://images.pexels.com/photos/2098427/pexels-photo-2098427.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -khtml-background-size: 100%;
  background-size: 100%;
}

h1 {
  color: greenyellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 30px;
}

.infoMain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 48px;
}

.image {
  border: 5px ridge darkturquoise;
  background: url(/testPhoto.png);
  height: 340px;
  width: 280px;
  border-radius: 5%;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  color: greenyellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 36px;
  width: 400px;
  padding: 20px 20px 10px 20px;
  margin: 10px 10px 30px 10px;
}

.textName {
  color: greenyellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  width: 300px;
  padding: 0 20px 0 20px;
  margin: 20px;
}

h2.aboutMe {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 0 0 20px;
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aboutMe {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.textAbout {
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textAbout.first {
  align-self: flex-start;
  width: 500px;
  padding: 20px;
}

.textAbout.second {
  align-self: center;
  width: 500px;
  padding: 20px;
}

.textAbout.third {
  align-self: flex-end;
  width: 500px;
  padding: 20px;
}

h2.exp {
  padding: 0 0 0 60%;
  color:yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.exp {
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
}

.expAbout {
  color:yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.expAbout.first {
  align-self: flex-end;
  width: 500px;
  padding: 20px;
}

.expAbout.second {
  align-self: center;
  width: 500px;
  padding: 20px;
}

.expAbout.third {
  align-self: flex-start;
  width: 500px;
  padding: 20px;
}

footer {
  color: olive;
}




