body {
  background: no-repeat;
  background: url(backgroundImage.jpeg);
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -khtml-background-size: 100%;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin: 30px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1.introduction {
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 30px;
}

.infoMain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 48px;
}

.image {
  border: 5px ridge rgb(30, 68, 69);
  background: url(/testPhoto.png);
  height: 340px;
  width: 280px;
  border-radius: 5%;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 36px;
  width: 50%;
  padding: 20px 20px 10px 20px;
  margin: 10px 10px 30px 10px;
}

.textName {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  width: 300px;
  padding: 0 20px 0 20px;
  margin: 20px;
}

h2.aboutMe {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 0 0 20px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aboutMe {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.textAbout {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textAbout.first {
  align-self: flex-start;
  width: 500px;
  padding: 20px;
}

.textAbout.second {
  align-self: center;
  width: 500px;
  padding: 20px;
}

.textAbout.third {
  align-self: flex-end;
  width: 500px;
  padding: 20px;
}

h2.exp {
  padding: 0 0 0 60%;
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.exp {
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
}

.expAbout {
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.expAbout.first {
  align-self: flex-end;
  width: 500px;
  padding: 20px;
}

.expAbout.second {
  align-self: center;
  width: 500px;
  padding: 20px;
}

.expAbout.third {
  align-self: flex-start;
  width: 500px;
  padding: 20px;
}

.mainPage {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.left {
  border: 1px solid red;
}

.right {
  border: 1px solid blue;
}

.socialMedia {
  position: fixed;
  margin: 15px;
  padding: 0px;
}

.mail, .mailName {
  position: fixed;
}

.mailName {
  padding: 45px 0 0 0;
  color:white;
  writing-mode:vertical-rl;
}

.socialMedia > * {
  margin: 20px 0;
}

footer {
  color: whitesmoke;
  margin: 100px;
  padding: 0 0 0 75%;
  border: 1px solid red;
}

@media (max-width: 1400px) {
  .mainPage{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .main {
      margin: 0 100px 0 100px;
    }

    .left {
      order: 1;
      position: static;
      margin: 0 0 0 100px;
    }

    .right {
      order: 2;
      position: static;
      margin: 0 0 0 100px;
    }

    .left > * {
      position: static;
    }

    .mailName {
      writing-mode: horizontal-tb;
      padding: 0 0 0 0;
    }

    .socialMedia {
      position: static;
    }
}

@media (max-width: 768px) {
    .mainPage{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .main {
      margin: 0 100px 0 100px;
    }

    .left {
      order: 1;
      position: static;
      margin: 0 0 0 100px;
    }

    .right {
      order: 2;
      position: static;
      margin: 0 0 0 100px;
    }

    .left > * {
      position: static;
    }

    .mailName {
      writing-mode: horizontal-tb;
      padding: 0 0 0 0;
    }

    .socialMedia {
      position: static;
    }

    .infoMain {
      flex-direction: column;
    }

    div .aboutMe {
      align-self: flex-start;
    }

    div .exp {
      align-self: flex-start;
    }

    h2 .aboutMe {
      margin: 0 100px 0 100px;
    }

    h2 .exp {
      margin: 0 100px 0 100px;
    }
}












